// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$olive-00: #f6f2e8;
$olive-01: #d6cdb8;
$olive-02: #b2a893;
$olive-03: #988d78;
$olive-04: #7e725f;
$japonica-00: #fba899;
$japonica-01: #e28272;
$japonica-02: #ca6556;
$japonica-03: #b04b3d;
$font-stack:
  "Work Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  sans-serif;
$spacing-unit: 1rem;

// Mixins
@mixin centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

// Base styles
html {
  font-size: 18px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  color: $japonica-01;
  background-color: $olive-00;
  padding: 3 * $spacing-unit;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

p {
  margin-bottom: $spacing-unit;
  color: $olive-02;
  font-weight: 300;
}

// Utilities
.text-center {
  text-align: center;
}

.centered-column {
  @include centered-column();
}

.centered-row {
  @include centered-row();
}

.section-heading {
  margin-bottom: 3rem;
  margin-top: 6rem;
  @include centered-row();
}

.gallery {
  display: grid;
  padding: 0 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  .thumbnail {
    margin: $spacing-unit;
    height: 250px;
    background-color: #b04b3d;
    cursor: pointer;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.project-card {
  display: flex; /* Aligns content within the card */
  flex-direction: row; /* Places the text and image side-by-side */
  justify-content: space-around; /* Ensures space between text and image */
  align-items: center; /* Vertically aligns content */
  padding: 2 * $spacing-unit;
  border: 1px solid $japonica-01; /* Matches the soft red border */
  margin: 2 * $spacing-unit 4 * $spacing-unit;
  .project-text {
    @include centered-column();
    flex: 3; /* Allows text to take up available space */
    h2 {
      margin: 0;
    }
    p {
      max-width: 70%;
      font-size: 1rem;
      margin-top: 5px;
      text-align: center;
    }
  }
  img {
    flex: 2;
    height: auto; /* Maintains aspect ratio */
  }
}

/* Overlay container */
.project-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensures it's above other content */
  align-items: center;
  justify-content: center;
}

/* Overlay content */
.overlay-content {
  position: relative;
  background: $olive-00;
  text-align: center;
  padding: 2rem 5rem;
  max-width: 70%;
  max-height: 70%;
  overflow: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  h2, p {
    font-weight: 400
  }
  p {
    color: $olive-03;
  }
}

/* Image and caption for project overlay */
.image-and-caption {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.image-placeholder {
  width: 200px;
  height: 120px;
  background: #d3d3d3; /* Placeholder color */
}

/* Close button */
.close-overlay {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: transparent;
  color: $japonica-01;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  i {
    font-size: large;
  }
  &:hover {
    color: $japonica-03;
  }
}

// Contact details

.contact-detail {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: $spacing-unit;
  i,
  h3 {
    font-size: 2.4rem;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-self: center;
  width: min-content;
  // align-items: center;
}

.mt {
  margin-top: 2 * $spacing-unit;
}
.mt-4 {
  margin-top: 4 * $spacing-unit;
}
.mb {
  margin-bottom: 2 * $spacing-unit;
}
.mb-4 {
  margin-bottom: 4 * $spacing-unit;
}
.mr {
  margin-right: 2 * $spacing-unit;
}
.ml {
  margin-left: 2 * $spacing-unit;
}

// ID selectors
#title-block {
  margin-bottom: $spacing-unit;
  line-height: 1.15;
  h2 {
    color: $olive-02;
  }
}

#main-links {
  height: 55vh;
  line-height: 2;
}

#contact-icons {
  font-size: 40px;
  i {
    margin: 0.8rem;
  }
}

// pseudo-state styling
a {
  text-decoration: none;
  color: $japonica-01;
  &:hover {
    color: $japonica-03;
  }
}
